---
layout: handbook-page-toc
title: "Create:Source Code BE Team"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

The Create:Source Code BE team is responsible for all backend aspects of the product categories that fall under the [Source Code group][group] of the [Create stage][stage] of the [DevOps lifecycle][lifecycle].

[group]: /handbook/product/categories/#source-code-group
[stage]: /handbook/product/categories/#create-stage
[lifecycle]: /handbook/product/categories/#devops-stages

## Team Members

The following people are permanent members of the Create:Source Code BE Team:

<%= direct_team(manager_role: 'Engineering Manager, Create:Source Code') %>

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] (Create(?!:)|Create:Source Code)/, direct_manager_role: 'Engineering Manager, Create:Source Code') %>

## Periscope & KPIs

We have a [metrics dashboard](https://app.periscopedata.com/app/gitlab/530351/WIP:-Source-Code-BE:Health-Development-Metrics) to help us stay on track with [Development KPIs](/handbook/business-ops/data-team/metrics/#development-department-kpis). This dashboard [does not include](https://gitlab.com/gitlab-data/analytics/issues/2349#note_226257108) security MRs in any metrics, because we are favoring adding confidential MRs to gitlab.com instead of using `dev.gitlab.org`.

<embed width="100%" height="500" src="https://app.periscopedata.com/shared/a2c38749-bf77-4e44-b9fd-c1fbc5322c09?embed=true">


## Hiring

This chart shows the progress we're making on hiring. Check out our
[jobs page](/jobs/) for current openings.

<%= hiring_chart(department: 'Create:Source Code BE Team') %>

## Work

In general, we use the standard GitLab [engineering workflow]. To get in touch
with the Create:Source Code BE team, it's best to create an issue in the relevant project
(typically [GitLab CE]) and add the `~"group::source code"` and `~backend` labels, along with any other
appropriate labels. Then, feel free to ping the relevant Product Manager and/or
Engineering Manager as listed above.

For more urgent items, feel free to use [#g_create_source_code] on Slack.

[engineering workflow]: /handbook/engineering/workflow/
[GitLab CE]: https://gitlab.com/gitlab-org/gitlab-ce
[#g_create_source_code]: https://gitlab.slack.com/archives/g_create_source_code

### Capacity planning

<%= partial("handbook/engineering/development/dev/create/capacity_planning.erb") %>

#### Planning rotation

_For context, this process was taken and modified from [the Plan team](/handbook/engineering/development/dev/plan/#capacity-planning)._

To assign weights to issues in a future milestone, we ask one team member to
take the lead each month. They can still ask questions - of the
rest of the team, of the stable counterparts, or anyone else - but they are
primarily responsible. Issue weights will be confirmed once they've been
assiged for the upcoming milestone. To weight issues, they should:

1. Look through the issues on the milestone with a `~"Deliverable"` label that have
   `Weight:None`.
2. For each issue, they add a weight. If possible, they also add a
   short comment explaining why they added that weight, what parts of the code
   they think this would involve, and any risks or edge cases we'll need to
   consider.
3. The process is intended to be lightweight. If something isn't clear what
   weight it is, they should ask for clarification on the scope of the issue.
4. Start adding weights around **a week before** the weights for a milestone
   are due. Finishing earlier is better than finishing later.
5. Check issues that have existing weights. Change the weight if you do not feel 
   like the initial weight given is accurate and leave a comment explaining your reasoning.
6. When the issues for the next release get formally assigned, the assignee should
   investigate the issue and confirm the weight.

Adding weights to the issues should take no longer than 8 hours. Please speak up
if you find this taking longer than expected!

The rotation for upcoming releases is:

| Release | Weights due | Engineer        | Engineer          |
| ---     | ---         | ---             | ---               |
| 12.4    | 2019-09-17  | Kerri Miller    | Igor Drozdov      |
| 12.5    | 2019-10-22  | Nick Thomas     | Bob Van Landuyt   |
| 12.6    | 2019-11-17  |                 | Oswaldo Ferreira  |
| 12.7    | 2019-12-17  |                 | Patrick Bajao     |


#### Backend and Frontend issues

Many issues require work on both the backend and frontend, but the weight of that work may not be the same. Since an issue can only have a single weight set on it, we use scoped labels instead when this is the case: `~backend-weight::<number>` and `~frontend-weight::<number>`.

### What to work on

<%= partial("handbook/engineering/development/dev/create/what_to_work_on.erb", locals: { group: "Source Code", slack_channel: 'g_create_source_code' }) %>

[issue board]: https://gitlab.com/groups/gitlab-org/-/boards/412126?label_name[]=group::source%20code&label_name[]=backend
[assignment board]: https://gitlab.com/groups/gitlab-org/-/boards/1143518

### Workflow labels

<%= partial("handbook/engineering/development/dev/create/workflow_labels.erb", locals: { group_label: 'group::source code' }) %>

### Async standup

<%= partial("handbook/engineering/development/dev/create/async_standup.erb") %>

### Retrospectives

We have 1 regularly scheduled "Per Milestone" retrospective, and can have ad-hoc "Per Project" retrospectives.

#### Per Milestone

<%= partial("handbook/engineering/development/dev/create/retrospectives.erb", locals: { group: "Source Code", group_slug: 'source-code' }) %>

#### Per Project

If a particular issue, feature, or other sort of project turns into a particularly useful learning experience, we may hold a synchronous or asynchronous retrospective to learn from it. If you feel like something you're working on deserves a retrospective:
1. [Create an issue](https://gitlab.com/gl-retrospectives/create-stage/source-code/issues) explaining why you want to have a retrospective and indicate whether this should be synchronous or asynchronous
2. Include your EM and anyone else who should be involved (PM, counterparts, etc)
3. Coordinate a synchronous meeting if applicable

All feedback from the retrospective should ultimately end up in the issue for reference purposes.

### Deep Dives

<%= partial("handbook/engineering/development/dev/create/deep_dives.erb") %>

### Career development

<%= partial("handbook/engineering/development/dev/create/career_development.erb", locals: { group: "Source Code" }) %>
